<nav class="navbar">
    <div class="navbar-container">
      <!-- Logo avec redirection -->
      <a routerLink="/" class="navbar-logo">
        <span>EnaaQuiziz</span>
      </a>
  
   
  
      <!-- Menu Principal -->
      <ul class="navbar-menu">
        <li class="navbar-item">
          <a routerLinkActive="/" >Accueil</a>
        </li>
        <li class="navbar-item">
          <a  routerLink="/propos" >À Propos</a>
        </li>
        <li class="navbar-item">
           <a  routerLink="/quiz" >Quiz</a> 
        </li>
        <li class="navbar-item">
          <a routerLink="/quiz-score">Resultat</a>
        </li>
        <li class="navbar-item">
            <a routerLink="/quiz-info">Historique</a>
          </li>
          <li class="navbar-item">
            <a routerLink="/quiz-join">join Quiz</a>
          </li>
      </ul>
      </div>
</nav>


    

  